<div class="register-form form">
	<div class="sign-in-up--subcontainer">
		<div class="signup-title">Bienvenido a CrystAl Bl</div>

		<div class="signup-link">o <a href="#" id="sign-in-link">inicia sesión en tu cuenta</a></div>

		<div id="component1056378491766673668"><div class="form_shown login-form-container register index standard">

			<form class="clearfix credentials-form register-form" method="post">
			
					<div class="register-form__name-fields">
						<div class="text-input standard input-fname first text-input__margin-right">
							<div class="text-input-error-wrapper"></div>
							<div class="text-input-wrapper">

								<input id="fname7739977497569195" type="text" class="text-input-input" name="fname" autocomplete="off" aria-invalid="false" value="">
								<label for="fname7739977497569195" class="label_input">Usuario</label>

							</div>
						</div>

						<div class="text-input standard input-lname second">
							<div class="text-input-error-wrapper"></div>
							<div class="text-input-wrapper">
								<input id="lname9261861411072596" type="text" class="text-input-input" name="lname" autocomplete="off" aria-invalid="false" value="">
								<label for="lname9261861411072596" class="label_input">Contraseña</label>
							</div>
						</div>

					</div>

			

				<div class="checkbox standard agree checkbox-inline">
					<div class="text-input-error-wrapper"></div>
					<input type="checkbox" id="tos_agree035649770902267175" name="tos_agree" aria-checked="false">
					<label for="tos_agree035649770902267175" class="checkbox_label">
						<span>Acepto las <a href="/terms" target="_blank" rel="noreferrer noopener">Condiciones de Solinces</a></span>
					</label>
				</div>

					<button class="login-button button-primary" type="submit" data-uxa-log="register_form_submit_button"><span>Iniciar Sesión</span></button><button class="auth-google button-primary button-undefined" type="button" data-uxa-log="google_signup_start"><span class="sign-up-text">Regístrate con Google</span></button><div class="recaptcha-v2-challenge-container recaptcha-v2-challenge-container--invisible"><div class="recaptcha_v2_challenge"></div></div>

				</form>
			</div>


	</div>
</div>
</div>


<style>
.register-form {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: calc(1440px * (1 / 24));
    padding-right: calc(1440px * (1 / 24));
}

.register-form {
    display: inline-block;
    flex-flow: column;
    justify-content: center;
    margin: auto;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.sign-in-up--subcontainer{
	margin-bottom: 15px;
}

.signup-title{
	font-size: 25px;
    line-height: 1.14286;
    font-family: SharpGrotesk, Open Sans, sans-serif;
    font-weight: 500;
}


.login-form-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    position: relative;
    text-align: left;
}
.credentials-form {
    display: inline;
    flex-direction: column;


    flex-flow: column;
    justify-content: center;


    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;

}

.text-input {
    line-height: 1.4;
    width: 100%;
}

.text-input-wrapper {
    margin-bottom: 18px;
    line-height: 1;
    position: relative;

}

.text-input .text-input-wrapper input {
	position: relative;
    font-size: 14px;
    font-family: Atlas Grotesk Web, Open Sans, sans-serif;
    font-weight: 400;
    border-radius: 0;
    padding-top: 8px;
    padding-left: 18px;
    height: 44px;
    margin-bottom: 0;

    margin: 2px 0 5px;
    min-height: 34px;

    box-sizing: border-box;


    -webkit-appearance: none;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 5px 6px;

    width: 100%;

}

.label_input {
    font-size: 14px;
    font-family: Atlas Grotesk Web, Open Sans, sans-serif;
    font-weight: 400;
    padding: 19px 18px 11px 18px;
    color: #637381;
}

.label_input {
    cursor: text;
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
}

.login-button.button-primary {
    font-size: 14px;
    font-family: Atlas Grotesk Web, Open Sans, sans-serif;
    font-weight: 400;
    background-color: #0061ff;
    background-image: none;
    border-radius: 0;
    height: 44px;
    margin: 18px 0 0 0;

    color: #fff;
    border: none;
    min-height: 32px;
    padding: 0 16px;


    display: inline-block;
    text-align: center;

    cursor: pointer;
    overflow: visible;
    text-decoration: none;


    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
}

.recaptcha-v2-challenge-container {
    margin: 0 0 15px 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
}


.auth-google.button-primary {
    font-size: 16px;
    font-family: Atlas Grotesk Web, Open Sans, sans-serif;
    font-weight: 400;
}

.auth-google.button-primary {
    font-size: 14px;
    font-family: Atlas Grotesk Web, Open Sans, sans-serif;
    font-weight: 400;
    background-image: none !important;
    background-color: #fff;
    border-radius: 0;
    border: 1px solid #d0d0d3;
    color: #000;
    height: 44px;
    margin-top: 20px;

    position: relative;
    padding: 8px 0;
    margin-bottom: 5px;
    width: 100%;
}

</style>