{% extends 'base.html' %}

{% block contenido %}

<nav arial-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active">
			<a>
				Generar Reportes
			</a>
		</li>
	</ol>
</nav>

	<form method="GET" action='/reportes/looking/'>

		  <div class="mb-3 container">

            Seleciona la Jornada
            <select id="jornada" class="form-control" name="jornadas">
              {% for jornada in jornada %}
              <option value="{{ jornada }}">{{ jornada }}</option>
              {% endfor %}
            </select>

            <br>

            Seleciona el grado
            <select id="categoria" class="form-control" name="grados">
              
              {% for grado in grados %}
              <option value="{{ grado }}">{{ grado }}</option>
              {% endfor %}
            </select>

            <br>

            Activos o No Activos
            <select id="categoria" class="form-control" name="activos">
              
              <option value="True">Activo</option>
              <option value="False">No Activo</option>
          
            </select>

          <br>

         	<button type="submit" class="btn btn-success">
          		Generar Reporte
          	</button>

          </div>
		
	</form>
	  

{% endblock %}