{% extends 'base.html' %}

{% block contenido %}


	<div id='contenedor' style="width: 75%;">
		<canvas id="poblacion-chart" data-url="/api/periodo/3/"  data-pk="{{periodo.periodo.pk}}"></canvas>
	</div>


  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

  <script>
  	
  	$(function (){


  		var $pais_ajax = $("#poblacion-chart")
  		$.ajax({

  			
  			url: $pais_ajax.data("url"),


  			success: function(data){

  				var ctx = $pais_ajax[0].getContext("2d");


          datos = JSON.stringify(data.data);
          console.log(datos)
      
  				new Chart(ctx, {

  					type: 'bar',
  					data: {
  						labels: $.each(data.data,  function(key, value){

                   value['materias__materia']
                     
              }),
  						datasets: [{
  							label: 'Periodo',
  							backgroundColor: 'blue',
  							data:  $.each(data.data, function(key, value){
                     
                   value['materias__nota']
                  
                  })
  						}]
  					},

  					options: {
  						responsive: true,
  						legend:{
  							position: 'top',
  						},
  						title: {
  							display: true,
  							text: 'Gráfico de barras de población'
  						}
  					}

  				});

  			}

  		});


  	});

  </script>
	

{% endblock %}