{% extends 'base.html' %}

{% block contenido %}



<nav arial-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item active">
			<a href="{% url 'ListaPeriodo' %}">
				Mis Boletines
			</a>
		</li>
	</ol>
</nav>

<table class="table mb-0">
	<thead>
		<tr>
			<th>
				Periodo
			</th>
			<th>
				Ver resulatdos
			</th>

			<th>
				Ver resulatdos Api
			</th>
		</tr>
	</thead>
	<tbody>
		
		{% for periodo in periodos %}

		<tr>
			<td>{{periodo.periodo}}</td>

			<td>
				<a href="{% url 'periodo' periodo.periodo.pk %}">Ver resultado</a>
			</td>

			<td>
				<a href="{% url 'periodo_api' periodo.periodo.pk %}">Ver resultado Api</a>
			</td>

		</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}